<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> DBDummie </h1>
    <p> Hello, this aint a tutorial about databases </p>
    <p> This is just me trying to implement my own database without any deep knowledge about how it works </p> 
    <p> This might be really bad, but i think this can help somme of u catching up my thinking process, 
<p> by the way, my english my be disturbing, sorry about that, it was built on top of sitcoms and web dev tutorials, what would you expect
</p> 


    
</body>
</html>